.jumbotron{
	background-image: url(backgroundsimdig.jpg);
	background-size: cover;
	height: 590px;
	text-align: center;
	color: white;
}
.jumbotron p {
	font-size: 20px;
	color: white;

}
.jumbotron hr {
	border-color: blue;
	width: 60px;
	border-width: 4px;
}
.jumbotron .btn {
	background-color: blue;
	border: none;
}
.header{
	color: black;
	text-align: center;
	border: 3pt solid black;
	background-color: lightblue;	
}
.paragraf{
	font-size: 20pt;
	text-align: left;
	color: black;
	border: 3pt solid black;
	background-color: lightblue;
}
.fotocard{
	border: 3pt solid black;
	text-align: center;
}
table{
	border: 3pt solid black;
	background-color: lightblue;
	text-align: center;

}
body{
	background-image: url(backgroundsimdig.jpg);
	background-size: cover;
}
