.jumbotron{
	background-image: url(backgroundsimdig.jpg);
	background-size: cover;
	height: 590px;
	text-align: center;
	color: white;
}
.jumbotron p {
	font-size: 20px;
}
.jumbotron hr {
	border-color: blue;
	width: 60px;
	border-width: 4px;
}
.jumbotron .btn {
	background-color: blue;
	border: none;
}
